.profile-pic{
	background: url("../resources/profile.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 500px;
    width: 110%;
}

.left-side{
	width: 30%;
    margin-top: 3em;
    margin-left: 5%;
    display: inline-block;
    float:left;
}

.right-side{
	display: inline-block;
    margin-top: 3em;
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;
    float:left;
}

.container{
	width: 92%;
    margin-left: 5%;
}

.title{
	font-size: 2em;
}

.sub-title{
	font-size: 1.4em;
}

.card-text {
	font-size: 1em;
    line-height: 1.5em;
}

.card {
	background: #fff;
	display:inline-block;
	padding:4%;
	box-shadow: #ddd 1px 1px 10px;
	border-radius: 5px;
	width:90%;
	margin-bottom: 5%;
}

.photo.card {
	padding:0;
}

.photo.card > div {
	border-radius: 5px;
}

.contact-list{
	padding: 0;
    list-style-type: none;
}

body {
	background: #eee;
	font-family: Roboto;
}